[user]
    name = Daniel Mihai Bărăgan
[color]
    ui = true
[credential]
    helper = cache --timeout=36000
[push]
    default = tracking
[core]
    excludesfile = ~/.gitignore_global
[alias]
    lt = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    xl = !sh -c 'git log --oneline --left-right --cherry-mark --boundary $(git_current_branch $1)' -
    st = status
    co = checkout
#    squash = !sh -c 'git reset --soft ${1} && git commit --edit -m"$(git log --format=%B --reverse HEAD..HEAD@{1})"'
	lastlog = log --format=%B --reverse HEAD..HEAD@{1}
    tst = !sh -c 'echo $1 && git commit --dry-run --edit -m"$(git log --format=%B --reverse HEAD..HEAD@{1})"'
[branch]
    autosetuprebase = always
    autosetupmerge = false
[merge]
    conflictstyle = diff3
[svn]
    rmdir = true


# allow this to overwrite
[include]
	path = ~/.gitconfig_local
