[user]
    name = Dan Bărăgan
    signingkey = FE22989D
[color]
    ui = true
[credential]
    helper = cache --timeout=36000
[push]
    default = tracking
[core]
    excludesfile = ~/.gitignore_global
[alias]
    st = status
    co = checkout
    cp = cherry-pick
    lt = log --graph --format=format:'%C(yellow)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold green)— %an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit --date=relative
    lta = log --all --graph --format=format:'%C(yellow)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold green)— %an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit --date=relative
	ll = log --format=%B --reverse HEAD..HEAD@{1}
[branch]
    autosetuprebase = always
[merge]
    conflictstyle = diff3
[svn]
    rmdir = true


# allow this to overwrite
[include]
	path = ~/.gitconfig_local
