# Ignore everything
*
.*

# Except: list every single file that you want (for safety reasons)
!.gitignore
# bash
!.bashrc
!.bash-myfunctions
# vim 
!.vimrc
!.vim
!.vim/autoload
!.vim/autoload/MultipleSearch.vim
!.vim/.vimrc
!.vim/scripts.vim
!.vim/ftdetect
!.vim/ftdetect/git-is-diff.vim
#!.vim/.netrwhist
!.vim/doc
!.vim/doc/MultipleSearch.txt
!.vim/doc/tags
!.vim/.VimballRecord
!.vim/plugin
!.vim/plugin/comment_helper.vim
!.vim/plugin/multvals.vim
!.vim/plugin/cscope_maps.vim
!.vim/plugin/MultipleSearch.vim
#!.vim/plugin/sh_header.vim
!.vim/plugin/text_helper.vim
!.vim/plugin/DrawIt.vim
!.vim/plugin/c_helper.vim
#!.vim/plugin/perl_header.vim
!.vim/plugin/fold_helper.vim
!.vim/plugin/genutils.vim
#!.vim/plugin/c_header.vim
!.vim/plugin/php_helper.vim
!.vim/syntax
#!.vim/syntax/perforce.vim
!.vim/syntax/doxygen.vim
!.vim/ftplugin
#!.vim/ftplugin/perforce.vim
#!.vim/ftplugin/selectbuf_perforce.vim
!.vim/after
!.vim/after/syntax
!.vim/after/syntax/php.vim
!.vim/after/syntax/c.vim
!.vim/after/ftplugin
!.vim/after/ftplugin/python.vim
!.vim/after/ftplugin/make.vim
!.vim/after/ftplugin/cpp.vim
!.vim/after/ftplugin/c.vim
# my bin
!bin
!bin/gfiles
!bin/cvsup
!bin/purge-backup
!bin/qsearch
# screen
!.screenrc
